.vscode
.devspace
*~
/ntppool-monitor
/client/cmd/ntppool-monitor/ntppool-monitor
/monitor-api
/server/cmd/monitor-api/monitor-api
dist/
vendor/
devel/


devspace.yaml
devspace_start.sh
dev-dsn
devsync