[Unit]
Description=NTP Pool Monitor (%i)
After=chronyd.service
Wants=network-online.target
StartLimitInterval=300
StartLimitBurst=5

[Service]
Type=simple
User=ntpmon

# not used yet
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# ConfigurationDirectory=/etc/ntpmon

WorkingDirectory=/var/run/ntpmon
RuntimeDirectoryMode=0700
RuntimeDirectoryPreserve=yes
RuntimeDirectory=ntpmon

EnvironmentFile=-/etc/default/ntpmon
ExecStart=/usr/bin/ntpmon --env %i monitor
Restart=always
TimeoutStartSec=10
RestartSec=120

[Install]
WantedBy=multi-user.target
