[Unit]
Description=NTP Pool Monitor (%i)
After=ntp.service

[Service]
Type=simple
User=ntpmon
WorkingDirectory=/var/run/ntpmon
EnvironmentFile=-/etc/default/ntppool-monitor
ExecStart=/usr/bin/ntppool-monitor --state-dir . --config %i.json
Restart=always
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=multi-user.target
